<!doctype html>
<head>
<title>Reactions of the Day MENU</title>
<link rel="stylesheet" href="/static/style.css" type="text/css">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36751896-1']);
  _gaq.push(['_setDomainName', 'thedigeffect.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body class="menu">
<a class="variantLink" href="react">BEGIN REACTIONS PRACTICE</a></br></br>
NEW! Now you have to draw in the missing molecule in each reaction.
<br><br>
%if theUser!="GUEST":
%theUsername=theUser.username
%else:
%theUsername="guest"
%end

%for reaction in sorted(reactions.reactions,key=lambda x:x[0].reactionIndex):
<div class="reactionClass">
{{reaction[0].reactionName}}</br>
%if theUser!="GUEST":
{{"%2.1f" % (theUser.reactionResultFractions.get(reaction[0].GUID,0)*100)}}% : 
%end
Practice Variant:
%for reactionItem in filter(lambda x:not "hidden" in x.variant,sorted(reaction,key=lambda x:x.variant)):
<a class="variantLink" href="/showReaction/{{theUsername}}/{{reactionItem.GUID}}/{{reactionItem.variant}}"><div class="reactionVariant">{{reactionItem.variant}}</div></a> \\
%end
</div>
%end
</br></br>

%if theUser!="GUEST":
<a href="/logout">Logout from "{{theUsername}}"</a>
%else:
<a href="/logout">Login To Your Account</a>

%end

</br>(C) Avinash Vakil 2012
</br>I try my best to make sure everything is correct, but mistakes can still creep in. Prof Jillian's documents are still the authoritative resource for these reactions.


</body>