<!doctype html>
<head>
<title>Reactions of the Day RXN VIEWER
</title>

    <SCRIPT language="JavaScript">
    <!--

	setTimeout(function() {preloadImage();},250);

	function preloadImage(){
    if (document.images)
    {
      preload_image = new Image(25,25); 
      preload_image.src="/reactionResource/{{quizItem.missingInfoItem}}"; 
    }}
    //-->
    </SCRIPT>

<style>
#thePrompt {
font-family:"Helvetica","Arial";
  font-style:bold;
  font-size:24px;
}

#responseBlock
{
font-family:"Helvetica","Arial";
  font-style:bold;
  font-size:24px;
}

.reactionTopLevel {
background-color:rgb(240,240,240);
  width:500px;
    line-height: 50px;
margin:0px;
  text-align:center;
  font-family:"Helvetica","Arial";
  font-style:bold;
  font-size:24px;
  display: inline-block;

  }
    
.rxnInfobox {
background-color:rgb(240,240,240);
  width:500px;
margin:0px;
padding:10px;
  text-align:left;
  font-family:"Helvetica","Arial";
  font-style:bold;
  font-size:24px;
margin-left:auto;
margin-right:auto;

  }
  


    
#centerRegion {
background-color:rgb(220,220,220);
width:200px;
}

#answerBlock {
width:400px;
  text-align:center;
margin-left:auto;
margin-right:auto;

}

#responseBlock {
width:300px;
}

img {
margin-left:auto;
margin-right:auto;
display: inline-block;
max-width:95%;

}



.reactionCenterArrowItem img {
max-width:190px
}


.reactionCenterArrowItem {
margin-left:auto;
margin-right:auto;
}

body > div {
margin-left:auto;
margin-right:auto;

    height: auto;
padding:0px;
display:block;
}

body {
padding:0px;
min-width:1200px;
text-align:center;
font-family:"Helvetica","Arial";
  font-style:bold;
  font-size:24px;

}

#mainQuestionBlock {
height:auto;
}

</style>
</head>
<body class="imageScreen" id="imageScreenID" onload="window.scrollTo(0, 1);">
<div id="thePrompt">
What is the {{quizItem.missingInfoName}}?
</div>
<div id="mainQuestionBlock">
<div class="reactionTopLevel" id="reactants">
<div><strong>REACTANTS</strong></div>
%if quizItem.InfoItems.get("reactant 1",False):
<img  src="/reactionResource/{{quizItem.InfoItems.get("reactant 1","quizItems/na.png")}}"></img>
%end

%if quizItem.InfoItems.get("reactant 2",False):
<img  src="/reactionResource/{{quizItem.InfoItems.get("reactant 2","quizItems/na.png")}}"></img>
%end

</div><div class="reactionTopLevel" id="centerRegion">
<div><strong>CONDITIONS</strong></div>

%if quizItem.InfoItems.get("conditions",False):
<div class="reactionCenterArrowItem" id="conditions">
<img  src="/reactionResource/{{quizItem.InfoItems.get("conditions","quizItems/na.png")}}"></img>
</div>
%end

<div class="reactionCenterArrowItem" id="arrow">
<img  src="/reactionResource/quizItems/arrow.png"></img>
</div>

%if quizItem.InfoItems.get("solvent",False):
<div class="reactionCenterArrowItem" id="solvent">
<img  src="/reactionResource/{{quizItem.InfoItems.get("solvent","quizItems/na.png")}}"></img>
</div>
%end
%if quizItem.InfoItems.get("legends",False):
<div class="reactionCenterArrowItem" id="legend">
<img  src="/reactionResource/{{quizItem.InfoItems.get("legends","quizItems/na.png")}}"></img>
</div>
%end
</div><div class="reactionTopLevel" id="products">
<div><strong>PRODUCTS</strong></div>
<img  src="/reactionResource/{{quizItem.InfoItems.get("major organic product","quizItems/na.png")}}"></img>
<img  src="/reactionResource/{{quizItem.InfoItems.get("non organic product","quizItems/na.png")}}"></img>
</div>
</div>
</br>
<div id="responseBlock">
%if mode=="quiz":
%if theuser=="GUEST":
<a href="/main/guest/react">Another Problem</a></br></br>
<a href="/main/guest/menu">Back to Reactions</a>
%else:
How did you do?</br>
<a href="/main/{{theuser.username}}/logresult/{{quizItem.reaction.GUID}}/0">Missed it</a></br></br>
<a href="/main/{{theuser.username}}/logresult/{{quizItem.reaction.GUID}}/1">Got it</a></br></br>
<a href="/main/{{theuser.username}}/menu">Back to my Page</a>
%end
%elif mode=="study":
Try refreshing this page to see notational variants.

</br>
%if theuser=="GUEST":
<a href="/main/guest/menu">Back to Reactions</a>
%else:
<a href="/main/{{theuser.username}}/menu">Back to my Page</a>
%end
%end
</div>
</br>
<div class="rxnInfobox">
<div id="answerBlock">
<strong>HOVER FOR ANSWER</strong></br>
<img  src="/reactionResource/quizItems/hidden.png" onmouseout="this.src='/reactionResource/quizItems/hidden.png'" onmouseover="this.src='/reactionResource/{{quizItem.missingInfoItem}}'"
></img></br>
</div>
</div>
%if mode=="study" and len(quizItem.reaction.infoText)>0:
</br>
<div class="rxnInfobox">
<strong>Additional Reaction Notes</strong></br>
%for line in quizItem.reaction.infoText:
{{line}}</br>
%end
</div>
%end
</br>
%if mode=="quiz" and theuser=="GUEST":
Note: As a guest user, performance is not tracked nor considered when choosing reactions to display.

%end

</br>(C) Avinash Vakil 2012

</body>