<!doctype html>
<head>
<title>Reactions of the Day RXN VIEWER
</title>

<link rel="stylesheet" href="/static/chemdoodle/install/ChemDoodleWeb.css" type="text/css">
<script type="text/javascript" src="/static/chemdoodle/install/ChemDoodleWeb-libs.js"></script>
<script type="text/javascript" src="/static/chemdoodle/install/ChemDoodleWeb.js"></script>
<link rel="stylesheet" href="/static/chemdoodle/install/sketcher/jquery-ui-1.8.7.custom.css" type="text/css">
<script type="text/javascript" src="/static/chemdoodle/install/sketcher/jquery-ui-1.8.7.custom.min.js"></script>
<script type="text/javascript" src="/static/chemdoodle/install/sketcher/ChemDoodleWeb-sketcher.js"></script>
<link rel="stylesheet" href="/static/style.css" type="text/css">

    <SCRIPT language="JavaScript">
    <!--


    //-->
    </SCRIPT>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36751896-1']);
  _gaq.push(['_setDomainName', 'thedigeffect.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body class="imageScreen" id="imageScreenID">
<div id="thePrompt">
%if mode=="quiz":
What is the {{quizItem.missingInfoName[0]}}?
%end
</div>
<div id="mainQuestionBlock">
<script>
  var simple2 = new ChemDoodle.SimpleReactionLayout('simple2');
  

  
  %for reactant in filter(lambda x: "reactant" in x and (quizItem.InfoItems[x] not in quizItem.missingInfoItem or mode=="study"),quizItem.InfoItems.keys()):
  simple2.addReactant(ChemDoodle.readMOL('{{quizItem.InfoItems[reactant]}}'));
  %end
  %for product in filter(lambda x: "product" in x and (quizItem.InfoItems[x] not in quizItem.missingInfoItem or mode=="study"),quizItem.InfoItems.keys()):
  simple2.addProduct(ChemDoodle.readMOL('{{quizItem.InfoItems[product]}}'));
  %end
  
  	//the width of the bonds should be .6 pixels
	simple2.specs.bonds_width_2D = 1.0;
	//the spacing between higher order bond lines should be 18% of the length of the bond
	simple2.specs.bonds_saturationWidth_2D = .18;
	//the hashed wedge spacing should be 2.5 pixels
	simple2.specs.bonds_hashSpacing_2D = 2.5;
	//the atom label font size should be 10
	simple2.specs.atoms_font_size_2D = 15;

  
  simple2.specs.backgroundColor = null;
    simple2.specs.scale = 200;
  simple2.specs.atoms_displayTerminalCarbonLabels_2D = false;
  simple2.specs.atoms_useJMOLColors = false;
  simple2.textAbove = '<span>{{quizItem.InfoItems.get("conditions","")}}</span>';
  simple2.arrow = '&#8652;';
  simple2.layout();
  

  	function showAnswer(){
  	%if "reactant" in quizItem.missingInfoName[0]:
  	  simple2.addReactant(ChemDoodle.readMOL('{{quizItem.missingInfoItem[0]}}'));
	%elif "product" in quizItem.missingInfoName[0]:
	  simple2.addProduct(ChemDoodle.readMOL('{{quizItem.missingInfoItem[0]}}'));
%end
  //simple2.innerLayout();

}

	function changeToAnswer(){
  var mol = sketcher.getMolecule();
  var molFile = ChemDoodle.writeMOL(mol);
  //alert(molFile);
  
  var newReq = makeRequestObject()
  
  newReq.open("POST","/convertCE/sdf/inchikey",false);
newReq.setRequestHeader("Content-type","application/x-www-form-urlencoded");
newReq.send("molfile="+molFile);
//alert(newReq.responseText);
//alert("{{quizItem.missingInfoItemINCHIKEY}}");

showAnswer()
showAnswer2()



%if theuser!="GUEST":
username="{{theuser.username}}"
%else:
username="giest"
%end
      try{document.getElementById('responseLink').innerHTML="Continue"}
      catch(err){}
  if ("{{quizItem.missingInfoItemINCHIKEY}}".indexOf(newReq.responseText)!==-1){
        document.getElementById('resultreadout').innerHTML="CORRECT"
        document.getElementById('answerheader').innerHTML="CORRECT"

    document.getElementById('responseLink').href="/main/"+username+"/logresult/{{quizItem.reaction.GUID}}/1"
  }
  else {
          document.getElementById('resultreadout').innerHTML="WRONG"
          document.getElementById('answerheader').innerHTML="WRONG"
    document.getElementById('responseLink').href="/main/"+username+"/logresult/{{quizItem.reaction.GUID}}/0"
  }
    }


function makeRequestObject(){
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  return xmlhttp
}

  
</script>

</div>
</br>
%if mode=="quiz":

<div id="responseBlock"><script>
	// changes the default JMol color of hydrogen to black so it appears on white backgrounds
	ChemDoodle.ELEMENT['H'].jmolColor = 'black';
	// darkens the default JMol color of sulfur so it appears on white backgrounds
	ChemDoodle.ELEMENT['S'].jmolColor = '#B9A130';
	// initializes the SketcherCanvas; make sure to set the path to the icons correctly!
	var sketcher = new ChemDoodle.SketcherCanvas('sketcher', 500, 500, '/static/chemdoodle/install/sketcher/icons/', ChemDoodle.featureDetection.supports_touch(), false);
	// sets terminal carbon labels to display
	sketcher.specs.atoms_displayTerminalCarbonLabels_2D = false;
	// sets atom labels to be colored by JMol colors, which are easy to recognize
	sketcher.specs.atoms_useJMOLColors = true;
	// the following two settings add overlap clear widths, so that some depth is introduced to overlapping bonds
	sketcher.specs.bonds_clearOverlaps_2D = true;
	sketcher.specs.bonds_overlapClearWidth_2D = 2;
	// the component needs to be repainted here because we do not call the <em>Canvas.loadMolecule()</em> function
	sketcher.repaint();	
</script>

</div>
</br>

<div class="rxnInfobox">
<div id="answerBlock">
<strong id="answerheader"><a id="answerlink" href="Javascript:void()" onClick="changeToAnswer()">SUBMIT ANSWER</a></strong></br>
<script>
	//initialize component and set visual specifications
	var viewerCanvas = new ChemDoodle.ViewerCanvas('viewerCanvas', 400, 400);
	//the width of the bonds should be .6 pixels
	viewerCanvas.specs.bonds_width_2D = .6;
	//the spacing between higher order bond lines should be 18% of the length of the bond
	viewerCanvas.specs.bonds_saturationWidth_2D = .18;
	//the hashed wedge spacing should be 2.5 pixels
	viewerCanvas.specs.bonds_hashSpacing_2D = 2.5;
	//the atom label font size should be 10
	viewerCanvas.specs.atoms_font_size_2D = 10;
	//we define a cascade of acceptable font families
	//if Helvetica is not found, Arial will be used
	viewerCanvas.specs.atoms_font_families_2D = ["Helvetica", "Arial", "sans-serif"];
	//display carbons labels if they are terminal
	viewerCanvas.specs.atoms_displayTerminalCarbonLabels_2D = false;

	//load data and read into a Molecule
	var caffeineMolFile = '{{quizItem.missingInfoItem[0]}}'

	var caffeine = ChemDoodle.readMOL(caffeineMolFile);
	//the bond lengths should be 14.4 pixels in ACS Document 1996

	viewerCanvas.loadMolecule(caffeine);
	
		    viewerCanvas.specs.scale = 300;
	document.getElementById('viewerCanvas').style.display = 'none';
	  	function showAnswer2(){
	document.getElementById('viewerCanvas').style.display = 'block';

	}
</script>
<span id="resultreadout"> </span><br>
%if theuser=="GUEST":
<a href="/main/guest/react">Another Problem</a>
%else:
<a id="responseLink" href="/main/{{theuser.username}}/logresult/{{quizItem.reaction.GUID}}/0"></a>
%end
</div>
</div>
%end

<br>

%if theuser=="GUEST":
<a href="/main/guest/menu">Back to Menu</a>
%else:
%if mode=="quiz":
<a href="/main/{{theuser.username}}/react">Skip Problem</a>
%end
<a href="/main/{{theuser.username}}/menu">Back to Menu</a>
%end

%if mode=="study" and len(quizItem.reaction.infoText)>0:
</br>
<div class="rxnInfobox">
<strong>Additional Reaction Notes</strong></br>
%for line in quizItem.reaction.infoText:
{{line}}</br>
%end
</div>
%end
</br>
%if mode=="quiz" and theuser=="GUEST":
Note: As a guest user, performance is not tracked nor considered when choosing reactions to display.

%end



</br>(C) Avinash Vakil 2012



</body>